<html>
<head>
    <title>Error!</title>
    <link rel="stylesheet" type="text/css" href="result.css">
</head>

<body>
    <div class="container">
    <center>
        <!-- unfinished: trying to divide into two columns of 1/12 and 11/12-->
        <div class="row">
            <div class="col-1">
                <img src="GoTap_Logo.png" width=15%>
                <br>
            </div>

        <div class="error">
            <p>{{error_msg}}</p>
            <p>Please return to <a href="/">GoTap Home</a></p>
        </div>
    </center>
    </div>
</body>
</html>